<div class="row header" style="z-index: 10;">
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-3" style="text-align: center;">
        <h4 class="eugene">Eugene Wu</h4>
        <div id="mypic-container" style="width:100%;">
          <div id="mypic" />
        </div>
      </div>
      <div class="col-md-6">
        <h4>Bio</h4>
        {% capture bio %}{% include bio.md %}{% endcapture %}
        {{ bio | markdownify }}
                
      </div>
      <div class="col-md-3">
        {% capture info %}{% include info.md %}{% endcapture %}
        {{ info | markdownify }}
      </div>
    </div>


  </div>
</div>

<br/>

<div class="row" style="z-index: 10;">
  <div class="col-md-12">
    <div class="bordered">
        {% capture apply %}{% include applying.md %}{% endcapture %}
        {{ apply | markdownify }}
    </div>


  </div>
</div>



