<img src="./files/images/mortalkombat.png" style="width: 300px; margin-bottom: 0px; padding-bottom: 0px; "/>
<h1 style="margin-top: 0px; padding-top: 0px; margin-bottom: 0px;">Earth Realm</h1>
<p style="margin-left: auto; margin-right: auto; width: 50%; max-width: 300px;">
Mortal Kombat has more ninjas than you can shake a stick at.  
Which Mortal Kombat ninja characters have been immortalized in the 
<a href="https://cudbg.github.io/lab/">WuLab's</a> papers?
</p>
<br/>
<br/>


<div class="ninjas">
  {% for ninja in {{include.ninjas}} %}
    {% assign img = {{ninja.img}} %}
    {% assign url = {{ninja.url}} %}
    {% assign desc = {{ninja.desc}} %}
    {% assign class = "published" %}
    {% if url == nil and desc == nil %} {% assign class = "notpublished" %} {% endif %}

    <span class="ninja {{class}}">
      {%if ninja.url %} <a href="{{ninja.url}}"> {% endif %}
      <img class="img" 
           src="./files/images/ninjas/{{ img }}"></img>
      {%if ninja.url %} </a> {% endif %}

      <div class="namebox">
        {% if ninja.url %}
          <a class="name" href="{{ninja.url}}#">{{ninja.name}}</a>
        {% else %}
          <div class="name">{{ninja.name}}</div>
        {% endif %}
        <span>{{ninja.desc}}</span>
      </div>
    </span>
  {% endfor %}
</div>

<link rel="stylesheet" type="text/css" href="./files/css/ninjas.css" />
