{% extends "_base.html" %}
{% block title %}Eugene Wu Job Application Materials{% endblock %}

  
{% block nav %}
<a href="http://www.mit.edu/~eugenewu/index.html" >Eugene Wu</a>
{% endblock %}





{% block main %}


<h1>Job Application Materials for Eugene Wu</h1>
<div class="section">
<table class='row'><tr>
  <td class="thumb">
    <div title="hello" id="mephoto"></div>
  </td>
  <td>

    <ul id="contacts">
      <li><a onclick="analytics.track('cv', {});" href="./files/job/cv.pdf">CV</a>
      <li><a onclick="analytics.track('researchstmt', {});" href="./files/job/research.pdf">Research Statement</a>
      <li><a onclick="analytics.track('teachingstmt', {});" href="./files/job/teaching.pdf">Teaching Statement</a>  
      <li><a onclick="analytics.track('diversitystmt', {});" href="./files/job/diversity.pdf">Diversity Statement</a>  
    </ul>
  </td>
</tr></table>
</div>





<h1><span id="pubtitle">Selected Publications</span> <a href="#" all="no" id="toggle" >show all</a></h1>
<div class="section">
<div id="publications"></div>
</div>




{% raw %}

<script id="pub-template" type="text/x-handlebars-template">
<ol>
{{#each papers}} {{#with this}}
<li>

  <a href="{{#if url }}{{url}}{{else}}#{{/if}}"><div>{{title}}</div></a>
  <div class="authors">{{authors}}</div>
  {{conference}}
  {{#each links}}<a href="{{url}}">{{text}}</a>{{/each}}
</li>
{{/with}}
{{/each}}
</ol>
</script>

<script>
$(function() {
  render("#pub-template", "#publications", jobpapers);
})

$("#toggle").click(function() {
  var el = $("#toggle");
  analytics.track('pubs', { all: el.attr('all') });
  if (el.attr('all') == "no") {
    el.attr('all', 'yes');
    render("#pub-template", "#publications", papers);
    $("#pubtitle").text("All Publications");
    el.text("show selected");
  } else {
    el.attr('all', 'no');
    render("#pub-template", "#publications", jobpapers);
    $("#pubtitle").text("Selected Publications");
    el.text("show all");
  }

})
</script>
{% endraw %}

{% endblock %}
