<html>
   <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>{{title}}</title>
  </head>
<body>

  {% capture short %}
Unfortunately, I cannot respond to every email I receive.
To help manage the process, use the following instructions to contact me.

* If you are currently a Columbia University PhD student, email me directly.
* If you are interested in the PhD program, please [read this section](#admissions)
* Otherwise, please 
[fill out this form](https://docs.google.com/forms/d/1-s1SwcpY0WBnRrzlrQfSrcxSCeOAymOHfU-sHroUXfU/viewform).
I guarantee I will read all responses, but cannot guarantee a reply.
  {% endcapture %}


  {% capture admissions %}

Computer Science at Columbia uses a centralized admissions process.
Prospective Ph.D students apply to the computer science department
at large, and faculty members review the applications and nomiate
applicants for admission.  For this reason, it is helpful to 
<a href="mailto:ew2493@columbia.edu">let me know</a> you have applied
if you are interested in working with me.  

However, **I will not provide feedback about your application through email**.
If you want a sense of what qualities I am looking for, 
[read this form](https://docs.google.com/forms/d/1-s1SwcpY0WBnRrzlrQfSrcxSCeOAymOHfU-sHroUXfU/viewform).

All applications should be submitted through <a href="https://mice.cs.columbia.edu/recruit/">the electronic system</a>
by **December 15** for the Fall semester, and **October 1** for the Spring semester.


  {% endcapture %}


  {% capture letters %}
The best way to convince me you can do good research is to have someone vouch for
the good research you've done in the past. For this reason, the most effective letters are those 
from research supervisors that concretely describe your contributions to a specific project. 

However, not every applicant has had the opportunity to perform research.  In this case,
letters that can describe your technical contributions, and the way you approach problems
are most useful.

I will actively avoid reading letters that solely describe your performance in a course.

Thus, my general order of preference of letter writers are: 

  1. Research supervisor
  1. Technical supervisor (e.g., your boss at a technical internship/job)
  1. Project partners (e.g., a maintaner of an open source project)
  1. Non-technical supervisor/Course instructor

  {% endcapture %}


  {% capture coding %}
Software development will be a large component of any systems computer science degree.  It is important
to demonstrate that you will be able to develop the systems necessary to conduct research experiments.
I am looking for students that have experience building systems -- in particular database and 
high performance systems.

If you currently have less software development experience, that is OK if you demonstrate that you can
and want to learn the necessary skillset.  The best way is to show a sequence of projects that highlight your
growth as a developer.  I can use this to extrapolate how you will grow if you continue to learn.

In either case, links to relevant <i>and well documented</i> github repositories will be helpful.

Keep in mind that there are many applications, so I will likely skim your applications before reading a small subset closely.  So make it easy for me to learn something while skimming.

  {% endcapture %}



  {% capture reading %}
I'll periodically update the following list of links that point to useful articles for incoming/young Ph.D. students.

##### Applying to CS Graduate Programs

* <a href="http://transientneha.blogspot.com/2015/02/what-to-ask-when-applying-to-grad.html">What to Ask When You're Applying to Grad School</a> -neha</li>
* [An alternative CS graduate schools ranking tool](http://csrankings.org/): lets you rank by areas and criteria you care about.


##### Ph.D. Advice

* <a href="http://pgbovine.net/PhD-interview-eugene-wu-keith-winstein.htm"> The N=2 Interview about Ph.D.s in Computer Science</a> -phil guo, keith winstein, eugene wu</li>
* <a href="http://marcua.net/writing/gradschool-guide/">The N=1 guide to grad school (and hopefully, knowledge work)</a> -adam marcus</li>
* <a href="http://matt.might.net/articles/ways-to-fail-a-phd/">10 easy ways to fail a Ph.D.</a>  -matt might</li>
* <a href="http://www.pgbovine.net/early-stage-PhD-advice.htm">Advice for new Ph.D. students.</a> -phil guo</li>
* <a href="http://matt.might.net/articles/phd-school-in-pictures/">The Ph.D. in pictures.</a> -matt might (so good)</li>
* <a href="http://www.quora.com/What-qualities-characterize-a-great-PhD-student">What makes a "great" Ph.D?</a> -many many people</li>
* <a href="https://speakerdeck.com/arnabdotorg/advice-to-new-researchers-simplify-research">Arnab's simple slides to simplifying research</a> -arnab</li>

##### Writing

* <a href="http://matt.might.net/articles/shell-scripts-for-passive-voice-weasel-words-duplicates/">My Ph.D. advisor rewrote himself in bash.</a> -matt might</li>
* <a href="http://www.eecs.harvard.edu/margo/writing.html">101 (or thereabouts) of Margo's pet peeves in the writing of research papers</a> -margo seltzer</li>
  
  {% endcapture %}

<div class="row">
  <div class="col-md-2 offset-md-2 stitle"></div>
  <div class="col-md-8"><h1>Applying to the Lab</h1></div>
</div>

<div class="row">
  <div class="col-md-2 offset-md-2 stitle">Short Instructions</div>
  <div class="col-md-8"> {{ short | markdownify }} </div>
</div>
<div class="row">
  <div class="col-md-2 offset-md-2 stitle">My Goal</div>
  <div class="col-md-8"> {{ content  }} </div>
</div>

<div class="row">
  <div class="col-md-2 offset-md-2 stitle">Columbia Admissions</div>
  <div class="col-md-8"> {{ admissions | markdownify }} </div>
</div>

<div class="row">
  <div class="col-md-2 offset-md-2 stitle">Letters</div>
  <div class="col-md-8"> {{ letters | markdownify }} </div>
</div>

<div class="row">
  <div class="col-md-2 offset-md-2 stitle">Software Development</div>
  <div class="col-md-8"> {{ coding | markdownify }} </div>
</div>

<div class="row">
  <div class="col-md-2 offset-md-2 stitle">Helpful Reading</div>
  <div class="col-md-8"> {{ reading | markdownify }} </div>
</div>




{% include footer.html %}


</body>

{% include includes.html %}
<style>
  .row {
    margin-top: 3em;
  }
  ul, ol {
    list-style-type: circle;
    padding-left: 2em;
  }
  .stitle {
    text-align: right;
    color: gray;
    text-transform: uppercase;

  }
  h5 {
    margin-top: 2em;
    font-size: 12pt;
    color: gray;
    text-transform: uppercase;
  }
  .skills {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .skills .stitle, h5 {
    color: gray;
    text-transform: uppercase;

  }
</style>
