<html>
   <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>{{title}}</title>
  </head>
<body>

<div class="row" >
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class='row' style="width: 100%; margin-bottom: 3em;"><tr>
    <td class="thumb">
        <div title="Pants or No Pants!?" id="banana"></div>
    </td>
    <td>
      <p>
      I'm a big fan of designing shirts, canvases, cards, posters etc. 
      Most of what I've done is through digital media, but I work with
      atoms as well.
      </p>
      <p>
      This page shows a selection of commissioned and non-commissioned
      art.
      </p>
    </td> </tr> </table>


    <style>
    p {
      max-width: 50em;
    }
    .gallery {
      margin-bottom: 3em;
      max-width: 700px;
    }
    h4 {
    }
    </style>



    <h4>Ultimate Jerseys</h4>
    <p>
      I started <i>really</i> doodling thanks to opportunities to design jerseys for ultimate
      teams I've been involved in
    </p>
    <div class="gallery" id="ultimate"></div>

    <h4>CSAIL Shirts</h4>
    <p>
      Turns out free shirts are all the rage in grad school, and it gave me 
      a good chance to design a bunch
    </p>
    <div class="gallery" id="csail"></div>

    <h4>Other Shirts</h4>
    <p>
      Some other shirts I've designed for Google events, research groups, or self interest.
    </p>
    <div class="gallery" id="misc"></div>


    <h4>Posters</h4>
    <div class="gallery" id="posters"></div>


    <h4>Layer Ping Pong</h4>
    <div class="section">
      <p>
        <a href="http://caretdashcaret.wordpress.com">CaretDashCaret</a> 
        and I played a sketch-based version of 
        <a href="http://www.layertennis.com">Layertennis</a>
        where the two of us volley art back and forth.  The esteemed
        <a href="http://www.kalecrusaders.com">Mere</a><a href="http://www.marcua.net">cua</a>
        provided real-time commentary.  
      </p>
      <p>
        <a href="./layerpp.html">Check out the results here!</a>
      </p>
      <div class="gallery" id="layerpp"></div>
    </div>
    <h4>Classic Rap Albums</h4>
    <div class="section">
      <p>
        One month, I decided to draw some class rap albums that I really like.
      </p>
      <div class="gallery" id="rap"></div>
    </div>
    <h4>Slam Dunkin'</h4>
    <div class="section">
      <p>
        Paint.NET is the most amazing MS Windows-based drawing app, and has a 
        fill features that makes "cloud-like" textures.  I tried it out on a series of slam dunks.
      </p>
      <div class="gallery" id="slamdunks"></div>
    </div>
    <h4>Kale Crusaders</h4>
    <div class="section">
      <p>
        <a href="http://www.kalecrusaders.com">Kale Crusaders</a> is a really cool blog
        that provides a marketing voice for underrepresented vegetable and vegetarian/vegan ingredients.
        I've made some guest posts in the past for projects I support. In particular, satsuma oranges, which are
        the most awesome fruit of all time.
      </p>
      <div class="gallery" id="kc"></div>
    </div>
    <h4>Wild Things</h4>
    <div class="section">
      <div class="gallery" id="wildthings"></div>
    </div>



  </div>
</div>





{% raw %}
<script id="shirt-template" type="text/x-handlebars-template">
<div class="section">
  {{#each this}}
    <a href="/files/images/gallery/{{this}}" target="_shirt">
      <div class="image" 
      style="background-image: url(/files/images/gallery/{{this}})"></div>
    </a>
  {{/each}}
</div>
<div style="clear:both"/>
</script>
{% endraw %}




</body>


<link rel="stylesheet" type="text/css" href="{{ "/files/css/bootstrap.min.css" | relative_url }}" />
<link rel="stylesheet" type="text/css" href="{{ "/files/css/style.css" | relative_url }}" />
<script src="{{ "/files/js/jquery.js" | relative_url }}"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="{{ "/files/js/handlebars.js" | relative_url }}"></script>
<script src="{{ "/files/js/underscore.js" | relative_url }}"></script>
<script src="{{ "/files/js/bootstrap.min.js" | relative_url }}"></script>
<script src="{{ "/files/js/data.js" | relative_url }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.13/webcomponents-lite.min.js"></script> 
<link rel="import" href="https://components.cloudstitch.com/components/cloudstitch-handlebars/cloudstitch-handlebars.vulcanized.html"/>

<script>
$(function() {
  renderGallery("#shirt-template", "#ultimate", ultimate);
  renderGallery("#shirt-template", "#csail", shirts);  
  renderGallery("#shirt-template", "#misc", misc);    
  renderGallery("#shirt-template", "#posters", posters);    
  renderGallery("#shirt-template", "#layerpp", layerpp);    
  renderGallery("#shirt-template", "#rap", rap);    
  renderGallery("#shirt-template", "#kc", kc);    
  renderGallery("#shirt-template", "#wildthings", wildthings);    
  renderGallery("#shirt-template", "#slamdunks", slamdunks);    
})
</script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87373541-1', 'auto');
  ga('send', 'pageview');

</script>

