<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="{{'/files/js/util.js'|relative_url}}"></script>
</head>
<body>



<div id="links">
  <a class="btn btn-primary" href="{{ "/" | relative_url }}">eugenewu.net</a>
  <a style="margin-left: 2em" href="{{ "/blog.html" | relative_url }}">all posts</a>
</div>


<h1>
  <span id="logo" >{{page.logo}}</span>
  <span id="tagline">{{page.tagline}}</span>
  <div style="clear=both;width:100%;">&nbsp;</div>
</h1>

{{content}}

</body>

<link rel="stylesheet" type="text/css" href="{{page.urlprefix}}./files/css/page.css" />

<style>
html { background: {{page.color}}; }
#logo, h2 { color: {{page.color}}; }
a { color: {{page.color}}; }
a:hover { color: white; background: {{page.color}}; }
#links { position: relative; top: -2em }
</style>

</html>

<script>
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112401455-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112401455-2');
</script>


<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet"/>
