<html>
   <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eugene Wu</title>
    <script src="{{'/files/js/util.js'|relative_url}}"></script>
  </head>
<body>

<div id="links">
  <a class="btn btn-primary" href="{{ "/" | relative_url }}">eugenewu.net</a>
  <a style="margin-left: 2em" href="{{ "/blog.html" | relative_url }}">all posts</a>
</div>



<h4>
  <div style="color: gray; ">{{page.date|date: "%m/%d/%y"}} </div> 
  {{page.title}}
</h4>
{{content}}

</body>


<link rel="stylesheet" type="text/css" href="{{ "/files/css/page.css" | relative_url }}" />

<style>
html { background: {{page.color}}; }
h1 #logo, h2 { float: none; color: {{page.color}}; }
h1 { margin-bottom: 12pt; }
a { color: {{page.color}}; }
a:hover { color: white; background: {{page.color}}; }
#links { position: relative; top: -2em }
</style>

</html>








<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112401455-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112401455-2');
</script>


<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet"/>

